
#animal-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animal {
    border: 1px solid black;
    text-align: center;
    margin: 45px;
    width: 400px;
    height: 400px;
}

.animalImage {
    margin: 0 auto;
    width: 90%;
    display: block;
    max-height: 236px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}